@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background-image:url(../images/back.png);
	background-repeat:repeat-x;
	background-color:#0a7d89;
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
h1 {	font-size:32px; }
h2 {	font-size:28px;}
h3 {	font-size:24px;}
h4 {	font-size:22px;}
h5 {	font-size:18px;}
h6 {	font-size:16px;}

h1, h2, h3, h4, h5, h6 {
	color:#165A92;
	margin:0 0 0.5em;
	font-weight:400;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
}

p {
	margin:0 0 1em 0;
}

.citat {
	font-style:italic;
}

#wrapper {
	background:#FFFFFF;
	margin:0 auto;
	width:960px;
}
#header {
	margin-bottom:10px;
	padding:10px;
}
#nav {
	background:#333333;
	height:40px;
	margin-bottom:10px;
	text-transform:capitalize;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav ul li {
	float:left;
	position:relative;
}
#nav ul li a {
	height:20px;
	padding:10px;
	display:block;
}
#nav ul li a:link,
#nav ul li a:visited {
	color:#ffffff;
	text-decoration:none;
}
#nav ul li a:hover {
	background:#878787;
	color:#333333;
}
#nav ul li a:active {
	background:#C1C1C1;
	color:#333333;
}

#nav ul li ul {
	position:absolute;
	top:40px;
	left:0;
	background:rgba(51,51,51,0.6);
	display:none;
}
#nav ul li ul li {
	float:none;
}

#nav ul li:hover ul {
	display:block;
}


#central {
	overflow:hidden;
}
#main {
	float:left;
	width:710px;
	padding:10px;
	
}
#sidebar {
	float:right;
	width:200px;
	padding:10px;
	background:#49A670;
	height:240px; /* privremena */
}
#footer {
	height:100px; /* privremena */
	background:#7B1B3F;
	margin-top:10px;
}











